.item--icon{
    font-size: 1.7em;
    cursor: pointer;
}

.item--icon__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.item--icon__container > span{
    font-size: 1.05em;
}

.item--icon__container:nth-child(1){
    width: 50px;
    margin-right: .7em;
}

.item--icon__container:nth-child(3){
    width: 110px;
}

.item--icon__container:nth-child(4){
    width: 110px;
    margin-left: .7em;
}

.item--title{
    width: 90%;
    margin-right: auto;
}

.urgent{
    color: rgb(182, 24, 24);
}